.ui-dialog .charsheet * {
  font-size: 1.0em;
}

.ui-dialog .charsheet div.grid-3col {
  align-items: center;
  background-color: gainsboro;
  border-radius: 10px;
  display: grid;
  grid-template-columns: [first] repeat(3, 1fr) [last];
  padding: 5px;
  row-gap: 5px;
}

.ui-dialog .charsheet div.grid-6col {
  align-items: center;
  background-color: gainsboro;
  border-radius: 10px;
  display: grid;
  grid-template-columns: [first] repeat(6, 1fr) [last];
  padding: 5px;
  row-gap: 5px;
}
.ui-dialog .charsheet div.grid-6col .span2 {
  grid-column: span 2;
}

.ui-dialog .charsheet div.grid-tpa {
  align-items: center;
  display: grid;
  grid-template-columns: [first] 15% [second] 10% [third] 20% [fourth] 20% [fifth] 20% [sixth] 15% [last];
  row-gap: 5px;
}

.ui-dialog .charsheet .repcontainer {
  display: block;
}
.ui-dialog .charsheet .repcontainer,
.ui-dialog .charsheet .repcontrol,
.ui-dialog .charsheet .span-grid {
  grid-column: 1 / 7;
  padding-bottom: 0px;
}

.ui-dialog .charsheet .repcontrol button {
  background: gainsboro !important;
  border-color: gainsboro !important;
  color: gray !important;
}

.ui-dialog .charsheet button.btn {
  background-image: linear-gradient(white, lightgray);
  border-color: black;
  color: black;
  font-size: 0.9em;
  padding: 1px 10px;
}
.ui-dialog .charsheet button.btn::before {
  content: '';
}
.ui-dialog .charsheet button.btn:hover {
  background-color: lightgray;
}
.ui-dialog .charsheet .btn-fire-status[value='0'] ~ .btn,
.ui-dialog .charsheet .btn-target-status[value='0'] ~ .btn {
  background-image: linear-gradient(lightgray, lightgray);
  border-color: gray;
  color: gray;
  pointer-events: none;
}

.ui-dialog .charsheet div {
  display: inline-block;
  padding-bottom: 5px;
  width: 100%;
}

.ui-dialog .charsheet div.power-allocation {
  align-items: center;
  display: grid;
  grid-template-columns: [first] 20% [second] auto [third] 15% [last];
  row-gap: 5px;
}
.ui-dialog .charsheet .warp-show-content[value='0'] ~ .warp-content {
  display: none;
}
.ui-dialog .charsheet .warp-show-content[value='1'] ~ .warp-content {
  display: contents;
  grid-column: 1 / 7;
}

.ui-dialog .charsheet h1 {
  font-size: 1.8em;
}
.ui-dialog .charsheet h2 {
  font-size: 1.6em;
}
.ui-dialog .charsheet h3 {
  font-size: 1.4em;
}
.ui-dialog .charsheet h4 {
  font-size: 1.2em;
}

.ui-dialog .charsheet hr {
  margin: 15px 0px 5px 0px;
}

.ui-dialog .charsheet input {
  background-color: transparent;
  text-align: left;
}
.ui-dialog .charsheet input[type='text'] {
  width:  100%;
}
.ui-dialog .charsheet input.em {
  background-color: white;
}
.ui-dialog .charsheet input[type='checkbox'].damaged {
  accent-color: crimson;
}
.ui-dialog .charsheet input.sensor-status[value='Online'] {
  color: green;
  font-weight: bold;
  width: 100px;
}
.ui-dialog .charsheet input.sensor-status[value='Damaged'] {
  color: red;
  font-weight: bold;
  width: 100px;
}
.ui-dialog .charsheet .repitem input{
  text-align: center;
}

.ui-dialog .charsheet label {
  display: inline;
  font-weight: normal;
  margin: 0px;
  padding-right: 0px;
}

.ui-dialog .charsheet select {
  background-color: gainsboro;
  margin: 0px;
}
.ui-dialog .charsheet select.crew-bonus {
  background-color: white; 
  margin-left: 5px; 
  width: 130px;
}
.ui-dialog .charsheet input.scan-answer,
.ui-dialog .charsheet select.scan-question {
  background-color: white; 
}

.ui-dialog .charsheet span.shields-allocated,
.ui-dialog .charsheet span.shields-current,
.ui-dialog .charsheet span.shields-damaged {
  grid-column: 1 / 5;
}

.ui-dialog .charsheet span.shields-damaged input[type="checkbox"].damaged {
  margin-left: 40px;
  margin-right: 15.5px;
}

.ui-dialog .charsheet .big { 
  font-size: 2em;
}

.ui-dialog .charsheet .emphasis { 
  font-weight: bold;
}

.ui-dialog .charsheet .w3 {
  width: 36px !important; /*override r20 class*/
}
.ui-dialog .charsheet .w5 {
  width: 50px !important; /*override r20 class*/
}
.ui-dialog .charsheet .w7 {
  width: 70px !important; /*override r20 class*/
}
.ui-dialog .charsheet .w10 {
  width: 100px !important; /*override r20 class*/
}
.ui-dialog .charsheet .w12 {
  width: 120px !important; /*override r20 class*/
}

/**************** ALERT INDICATORS ****************/
.ui-dialog .charsheet .evasive-maneuvers-status[value='0'] ~ .evasive-maneuvers,
.ui-dialog .charsheet .evasive-maneuvers-status[value='1'] ~ .no-evasive-maneuvers,
.ui-dialog .charsheet .impulse-power-status[value='0'] ~ .no-impulse-power {
  display: none;
}
.ui-dialog .charsheet .evasive-maneuvers-status[value='1'] ~ .evasive-maneuvers,
.ui-dialog .charsheet .evasive-maneuvers-status[value='0'] ~ .no-evasive-maneuvers,
.ui-dialog .charsheet .impulse-power-status[value='1'] ~ .no-impulse-power {
  display: inline-block;
}

/**************** SENSOR LOCKS ****************/
.ui-dialog .charsheet .w12[value='NONE'] ~ .span2 input,
.ui-dialog .charsheet .w12[value='NONE'] ~ .span2 select {
  background-color: gainsboro;
  pointer-events: none;
}
.ui-dialog .charsheet .w12:not([value='NONE']) ~ .span2 input,
.ui-dialog .charsheet .w12:not([value='NONE']) ~ .span2 select {
  background-color:white;
  pointer-events: all;
}

/**************** CREW EFFICIENCY INDICATORS ****************/
.ui-dialog .charsheet .crewbonus1[value='0'] ~ .crewbonusicon,
.ui-dialog .charsheet .crewbonus2[value='0'] ~ .crewbonusicon,
.ui-dialog .charsheet .crewbonus3[value='0'] ~ .crewbonusicon {
  display: none;
}
.ui-dialog .charsheet .crewbonus1[value='1'] ~ .crewbonusicon,
.ui-dialog .charsheet .crewbonus2[value='1'] ~ .crewbonusicon,
.ui-dialog .charsheet .crewbonus3[value='1'] ~ .crewbonusicon {
  display: inline-block;
}

/**************** CONDITIONAL STYLES ****************/
.ui-dialog .charsheet .shields-allocated-status[value='0'] ~ .shields-allocated,
.ui-dialog .charsheet .shields-allocated-status[value='0'] ~ .shields-allocated-buttons,
.ui-dialog .charsheet .shields-current-status[value='0'] ~ .shields-current,
.ui-dialog .charsheet .shields-current-status[value='0'] ~ .shields-current-buttons {
  display: none;
}
.ui-dialog .charsheet .shields-allocated-status[value='1'] ~ .shields-allocated,
.ui-dialog .charsheet .shields-allocated-status[value='1'] ~ .shields-allocated-buttons,
.ui-dialog .charsheet .shields-current-status[value='1'] ~ .shields-current,
.ui-dialog .charsheet .shields-current-status[value='1'] ~ .shields-current-buttons {
  display: inline-block;
}

.ui-dialog .charsheet .missile-armed-status[value="0"] ~ input[type="checkbox"].missile-armed {
  accent-color: palegreen;
}
.ui-dialog .charsheet .missile-armed-status[value="1"] ~ input[type="checkbox"].missile-armed {
  accent-color: lightpink;
}

.ui-dialog .charsheet .power-status[value='2'] ~ .power,
.ui-dialog .charsheet .engine-power-status[value='0'] ~ .engine-power,
.ui-dialog .charsheet .hp-status[value='0'] ~ .hp,
.ui-dialog .charsheet .missile-arm-status[value='0'] ~ .missile-armed,
.ui-dialog .charsheet .mp-remaining-status[value='0'] ~ .mp-remaining,
.ui-dialog .charsheet .shield-1c-status[value='0'] ~ .shield-1c,
.ui-dialog .charsheet .shield-2c-status[value='0'] ~ .shield-2c,
.ui-dialog .charsheet .shield-3c-status[value='0'] ~ .shield-3c,
.ui-dialog .charsheet .shield-4c-status[value='0'] ~ .shield-4c,
.ui-dialog .charsheet .shield-5c-status[value='0'] ~ .shield-5c,
.ui-dialog .charsheet .shield-6c-status[value='0'] ~ .shield-6c,
.ui-dialog .charsheet .sp-remaining-status[value='0'] ~ .sp-remaining,
.ui-dialog .charsheet .tpa-remaining-status[value='0'] ~ .tpa-remaining,
.ui-dialog .charsheet .wp-remaining-status[value='0'] ~ .wp-remaining,
.ui-dialog .charsheet .wf-current-status[value='0'] ~ .wf-current,
.ui-dialog .charsheet .wf-desired-status[value='0'] ~ .em,
.ui-dialog .charsheet .wf-remaining-status[value='0'] ~ .wf-remaining {
  accent-color: palegreen;
  background-color: palegreen;
  border-color: forestgreen;
  color: forestgreen;
}

.ui-dialog .charsheet .power-status[value='1'] ~ .power,
.ui-dialog .charsheet .engine-power-status[value='1'] ~ .engine-power,
.ui-dialog .charsheet .hp-status[value='1'] ~ .hp,
.ui-dialog .charsheet .missile-arm-status[value='1'] ~ .missile-armed,
.ui-dialog .charsheet .mp-remaining-status[value='1'] ~ .mp-remaining,
.ui-dialog .charsheet .shield-1-status[value='1'] ~ .shield-1,
.ui-dialog .charsheet .shield-2-status[value='1'] ~ .shield-2,
.ui-dialog .charsheet .shield-3-status[value='1'] ~ .shield-3,
.ui-dialog .charsheet .shield-4-status[value='1'] ~ .shield-4,
.ui-dialog .charsheet .shield-5-status[value='1'] ~ .shield-5,
.ui-dialog .charsheet .shield-6-status[value='1'] ~ .shield-6,
.ui-dialog .charsheet .shield-1c-status[value='1'] ~ .shield-1c,
.ui-dialog .charsheet .shield-2c-status[value='1'] ~ .shield-2c,
.ui-dialog .charsheet .shield-3c-status[value='1'] ~ .shield-3c,
.ui-dialog .charsheet .shield-4c-status[value='1'] ~ .shield-4c,
.ui-dialog .charsheet .shield-5c-status[value='1'] ~ .shield-5c,
.ui-dialog .charsheet .shield-6c-status[value='1'] ~ .shield-6c,
.ui-dialog .charsheet .sp-remaining-status[value='1'] ~ .sp-remaining,
.ui-dialog .charsheet .tpa-remaining-status[value='1'] ~ .tpa-remaining,
.ui-dialog .charsheet .wp-remaining-status[value='1'] ~ .wp-remaining,
.ui-dialog .charsheet .wf-current-status[value='1'] ~ .wf-current,
.ui-dialog .charsheet .wf-desired-status[value='1'] ~ .em,
.ui-dialog .charsheet .wf-remaining-status[value='1'] ~ .wf-remaining {
  accent-color: lightpink;
  background-color: lightpink; 
  border-color: red;
  color: red;
}

.ui-dialog .charsheet .power-status[value='0'] ~ .power,
.ui-dialog .charsheet .engine-power-status[value='2'] ~ .engine-power,
.ui-dialog .charsheet .hp-status[value='2'] ~ .hp,
.ui-dialog .charsheet .mp-remaining-status[value='2'] ~ .mp-remaining,
.ui-dialog .charsheet .shield-1-status[value='2'] ~ .shield-1,
.ui-dialog .charsheet .shield-2-status[value='2'] ~ .shield-2,
.ui-dialog .charsheet .shield-3-status[value='2'] ~ .shield-3,
.ui-dialog .charsheet .shield-4-status[value='2'] ~ .shield-4,
.ui-dialog .charsheet .shield-5-status[value='2'] ~ .shield-5,
.ui-dialog .charsheet .shield-6-status[value='2'] ~ .shield-6,
.ui-dialog .charsheet .shield-1c-status[value='2'] ~ .shield-1c,
.ui-dialog .charsheet .shield-2c-status[value='2'] ~ .shield-2c,
.ui-dialog .charsheet .shield-3c-status[value='2'] ~ .shield-3c,
.ui-dialog .charsheet .shield-4c-status[value='2'] ~ .shield-4c,
.ui-dialog .charsheet .shield-5c-status[value='2'] ~ .shield-5c,
.ui-dialog .charsheet .shield-6c-status[value='2'] ~ .shield-6c,
.ui-dialog .charsheet .sp-remaining-status[value='2'] ~ .sp-remaining,
.ui-dialog .charsheet .tpa-remaining-status[value='2'] ~ .tpa-remaining,
.ui-dialog .charsheet .wp-remaining-status[value='2'] ~ .wp-remaining,
.ui-dialog .charsheet .wf-current-status[value='2'] ~ .wf-current,
.ui-dialog .charsheet .wf-desired-status[value='2'] ~ .em,
.ui-dialog .charsheet .wf-remaining-status[value='2'] ~ .wf-remaining {
  background-color: lemonchiffon; 
  border-color: coral;
  color: coral;
}

/**************** ROLL TEMPLATES ****************/
.sheet-rolltemplate-custom,
.sheet-rolltemplate-menu {
  margin-left: -37px;
}
.withoutavatars .sheet-rolltemplate-custom,
.withoutavatars .sheet-rolltemplate-menu {
  margin-left: -7px;
}

.sheet-rolltemplate-custom .sheet-container,
.sheet-rolltemplate-menu .sheet-container {
  border: 1px solid;
  /* by default, the border is the same color as the header. You can change this here, e.g. to black */
  border-color: var(--header-bg-color);
}

/* Header formatting - title and subtitle */
.sheet-rolltemplate-custom .sheet-header,
.sheet-rolltemplate-menu .sheet-header {
  background-image: var(--header-bg-image);
  background-color: var(--header-bg-color);
  /* change text-align to center to center the header text */
  text-align: left;
  color: var(--header-text-color);
  padding: 5px;
}
.sheet-rolltemplate-custom .sheet-title,
.sheet-rolltemplate-menu .sheet-title {
  font-size:1.1em;
  text-align: center;
}
.sheet-rolltemplate-custom .sheet-subtitle,
.sheet-rolltemplate-menu .sheet-subtitle {
  font-size:.9em;
  text-align: center;
}

/* example colors */
.sheet-rolltemplate-custom .sheet-container,
.sheet-rolltemplate-menu .sheet-container {
  /* this is the default color */
  --header-bg-color:dimgray;
  --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-black,
.sheet-rolltemplate-menu .sheet-container.sheet-color-black {
  --header-bg-color: black;
  --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-brown,
.sheet-rolltemplate-menu .sheet-container.sheet-color-brown {
  --header-bg-color: sienna;
  --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-blue,
.sheet-rolltemplate-menu .sheet-container.sheet-color-blue {
  --header-bg-color: darkblue;
  --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-gold,
.sheet-rolltemplate-menu .sheet-container.sheet-color-gold {
  --header-bg-color: gold;
  --header-text-color: #000;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-green,
.sheet-rolltemplate-menu .sheet-container.sheet-color-green {
  --header-bg-color: darkolivegreen;
  --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-orange,
.sheet-rolltemplate-menu .sheet-container.sheet-color-orange {
  --header-bg-color: darkorange;
  --header-text-color: #000;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-red,
.sheet-rolltemplate-menu .sheet-container.sheet-color-red {
  --header-bg-color: maroon;
  --header-text-color: #FFF;
}

/* Success/Failure colors*/
.sheet-rolltemplate-custom .sheet-success {
  color: green;
  font-weight: bold;
}
.sheet-rolltemplate-custom .sheet-failure {
  color: red;
  font-weight: bold;
}
  
/* Allprops part */
.sheet-rolltemplate-custom .sheet-content,
.sheet-rolltemplate-menu .sheet-content {
  display: grid;
  background: #FFF;
  /* Header formatting - modify the column layout below */
  grid-template-columns: auto auto;
  /* Line height to match default roll template */
  line-height:1.4em;
}
.sheet-rolltemplate-custom .sheet-content > div,
.sheet-rolltemplate-menu .sheet-content > div {
  padding: 5px;
}
  
/* Left column */
.sheet-rolltemplate-custom .sheet-content .sheet-key,
.sheet-rolltemplate-menu .sheet-content .sheet-key {
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}
  
/* Empty rule, use this if you want to change the right column 
.sheet-rolltemplate-custom .sheet-value {
}
*/
  
/* Make even-numbered rows grey */
.sheet-rolltemplate-custom .sheet-content div:nth-child(4n+3),
.sheet-rolltemplate-custom .sheet-content div:nth-child(4n) {
  background:#EEE;
}
  
/* Description field */
.sheet-rolltemplate-custom .sheet-desc,
.sheet-rolltemplate-menu .sheet-desc {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
}

/* Chat menu styles */
.sheet-rolltemplate-custom a[href^='!'],.sheet-rolltemplate-custom a[href^='~'],
.sheet-rolltemplate-menu a[href^='!'],.sheet-rolltemplate-menu a[href^='~'] {
  background-color:transparent;
  border:0;
  color:#3f8aa6;
  display:inline;
  font-weight: bold;
  padding: 0
}

.sheet-rolltemplate-custom .sheet-desc {
  text-align: left;
}